{% extends 'base.html' %}

{% block page_content %}
<div class="container-fluid">
    <div class="container">
        <h1 class="text-center mb-4">ACERCA DE...</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis exercitationem natus facere voluptas tempora reprehenderit dolores mollitia! Enim a minima hic sunt error ipsum, nihil itaque fugiat non aut tenetur exercitationem dignissimos consequuntur suscipit inventore, incidunt ea, sit aliquam voluptatum iure distinctio nemo! Repellendus, ipsum magni placeat eum tenetur cum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In debitis beatae vero deserunt. Ab, earum consequatur doloribus fugit accusantium ex.</p>
    </div>
</div>
{% endblock %}